services:
  glance:
    image: glanceapp/glance
    container_name: glance
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./config:/app/config:ro
      - /etc/localtime:/etc/localtime:ro
      - /mnt/storagebox:/mnt/storagebox:ro
      - /mnt/pixeldrain:/mnt/pixeldrain:ro
    env_file:
      - .env

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped
    ports:
      - 3001:3001
    volumes:
      - uptime-kuma-data:/app/data
      - /etc/localtime:/etc/localtime:ro

volumes:
  uptime-kuma-data:
