services:
  glance:
    image: glanceapp/glance
    container_name: glance
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - .:/app/config:ro
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
