services:
  glance:
    image: glanceapp/glance
    container_name: glance
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./glance.yml:/app/glance.yml
      - ./widgets:/app/widgets
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
